<h2> Register and start reviewing your favorite Cigars!</h2>

<form method="post" action="/users" >

  Name: <input type="text" name="name">

  Email: <input type="text" name="email">
  
  Password: <input type="password" name="password">

  Bio: <input type="text" name="bio">

  Image URL: <input type="text" name="image_url">

  <input type="submit" value="Create User">

</form>

<a href="/">Back</a>