<div class="container">

    <h2> Welcome to Cigar Lover! </h2>

    <div class="content">
      <p> Welcome to Cigar Lover, where you can nerd out about your favorite cigars and pairings
      with like-minded individuals.
    </div>

    <a href="/login">Log In</a>  or  <a href="/signup">Sign Up</a>

</div>
